/*.add-container {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 7rem;
}

.add-input-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}*/

@media (max-width: 768px) {
    .add-input-container {
        display: grid;
        flex-direction: column; 
        gap: 5px; 
    }
    .add-select {
        width: 100%;
    }
    .addImage {
        margin-right: 0px;
    }
}

/*.input-form {
    background-color: white;
}

.add-input-form {
    width: 18.3% !important;
}*/
.add-select {
    width: 22% !important;
    height: 2.2rem;
    margin-left: 10px;
}

.edit-lesson-list {
    width: 16%;
    height: 620px;
    overflow-y: auto;
    background-color: #ffffff;
    float: left;
    margin-right: 25px;
}

.edit-lesson-title {
    font-size: 17px;
    padding: 10px;
}

.edit-lesson-title:hover {
    background-color: rgb(58, 184, 146);
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.edit-container{
    margin-left: 16.5% !important;
    width: 70% !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  