/*.add-container {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 7rem;
}

.add-input-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}*/

/*.input-form {
    background-color: white;
}

.add-input-form {
    width: 18.3% !important;
}*/
.add-select {
    width: 22% !important;
    height: 2.2rem;
    margin-left: 10px;
}

.edit-lesson-list {
    width: 16%;
    height: 620px;
    overflow-y: auto;
    background-color: #ffffff;
    float: left;
    margin-right: 25px;
}

.edit-lesson-title {
    font-size: 17px;
    padding: 10px;
}

.edit-lesson-title:hover {
    background-color: rgb(58, 184, 146);
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.edit-container{
    margin-left: 16.5% !important;
    width: 70% !important;
}

.space-left {
    margin-left: 10px;
}

.delete-confirmation-dialog {
    text-align: center;
}

.red-button {
    background-color: rgb(252, 79, 79);
    color: white;
    width: 200px;
    font-size: 16px;
    padding: 6px;
    border-radius: 10px;
    border: white;
}

@media (max-width: 922px) {
    .edit-lesson-title {
        font-size: 14px;
    }
    .edit-container{
        margin-left: 0px;
        width: 40%;
    }
    .add-container {
        padding-left: 0px !important;
    }
    .edit-lesson-list {
        margin-right: 10px;
        width: 27%;
    }
}

@media (max-width: 636px) {
    .space-left {
        margin-left: 0px;
        margin-top: 10px;
    }
}