.home-wlc-text {
    font-size: 1.3rem;
    text-align:justify;
}

.home-wlc-text-div {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.canvas-div {
    width: 600px;
    height: 400px;
}

.electronics-div {
    
}

/*@media (max-width: 1130px) {
    .home-wlc-text-div {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media (max-width: 800px) {
    .home-wlc-text-div {
        margin-left: 20px;
        margin-right: 20px;
    }
}*/