.home-wlc-text {
    font-size: 1.3rem;
    text-align: justify;
}

.home-wlc-text-div {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.canvas-div {
    height: 400px;
    display: flex;
    justify-content: center;
}

.electronics-div {
    margin-top: 40px;
}

.microcontroller-text {
    width: 150%;
    margin: auto;
    text-align: justify;
    margin-right: 125px;
}

.firstDiv {
    display: flex;
}

.big-text {
    margin-right: 5% !important;
    margin: auto;
}

.el-components-div {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.el-components-text {
    width: 40%;
    margin-right: 70px;
}

.img-bottom {
    height: 363px;
    margin-left: 50px;
    margin-right: 50px;
}
.img-bottom-div {
    justify-content: center;
    display: flex;
}

/*@media (max-width: 1130px) {
    .home-wlc-text-div {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media (max-width: 800px) {
    .home-wlc-text-div {
        margin-left: 20px;
        margin-right: 20px;
    }
}*/

.arduino-canvas {
    touch-action: none;
    /* Add other styles as needed */
}

#arduino {
    width: 455px !important;
    max-width: 455px !important;
    height: 315px;
}



 .sliding-container {
    background-color: #1A242D;
    
 }
  .slides {
    display: flex;
    transition: transform 0.5s ease;
    padding-top: 20px;
  }
  
  .slide {
    flex: 0 0 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
  }
  
  .slide.active {
    display: block;
    transform: translateX(0);
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .homecontrol {
    background: #ffffff;
    border: none;
    width: 50px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
.buttons {
    text-align: center;
    padding-bottom: 20px;
}

.custom-shape-divider-top-1705344337 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.big-text {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}