.nav-bar {
    display: flex;
    background-color: #DDE9F5;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-h2-first{
    font-size: 1.9rem;
    margin-left: 3rem;
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
    white-space: nowrap;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

.animate-charcter{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    white-space: nowrap;
    color: hsl(185, 62%, 45%);
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    hsl(185, 56%, 60%) 0%,
    hsl(193, 48%, 54%) 17%,
    hsl(222, 41%, 47%) 34%,
    hsl(248, 31%, 52%) 50%,
    hsl(222, 41%, 47%) 64%,
    hsl(193, 48%, 54%) 81%,
    hsl(185, 56%, 60%) 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

.nav-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40px;
}

.nav-link-menu{
    margin-top: 10px;
    /*margin-left: 14%;
    margin-right: 7%;*/
    white-space: nowrap;
    flex: 2;
}

.nav-user{
    display: flex;
    /*margin-left: 7%;*/
    margin-bottom: 0px;
}

.nav-user-wellcome{
    font-size: 20px;
    margin-top: 9px;
    margin-bottom: 0px;
    /*margin-left: 70px;*/
    margin-left: 20px;
    white-space: nowrap;
    color:  black;
}

.menu-icon{
    padding-top: 3px;
    font-size: 30px;
    margin-left: 10px;
    border: none;
    background: none;
}

.nav-user-avatar{
    margin-left: 20px;
    margin-top: 7px;
}
.left-div {
    display: flex;
    flex: 1;
}
.right-div {
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 18px;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/*@media (max-width: 1432px) {
    .nav-link-menu {
        display: none;
    }
}*/
/*@media (max-width: 1442px) {
    .right-div {
 
    }
}*/
@media (max-width: 838px) {
    .nav-link-menu {
        display: none;
    }
}

@media (max-width: 1130px) {
    .nav-user {
        display: none;
    }
    .right-div {
        width: 5%;
    }
}
/*@media(max-width: 1242px) {
    .nav-link-menu {
        margin-left: 3%;
        margin-right: 1%;
    }
}*/

@media (max-width: 1000px) {
    .nav-user{
        display: none;
    }
    .nav-h2-first{
        margin-left: 1.2rem;
    }
}

.hamburger-links {
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: grid !important;
}
.nav-link-hamburger {
    margin-top: 50px;
    font-size: 30px;
    color: #ffffff;
}

/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
}
  
  /* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 40px;
    width: 40px;
}
  
  /* Color/shape of close button cross */
.bm-cross {
    background: #ffffff;
}

.bm-menu-wrap {
    position: fixed;
    margin-top: 31px;
}
  
  /* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
  
  /* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #000000;
}
  

.bm-overlay {
    display: none;
    
}
  /* Wrapper for item list */
.bm-item-list {
    padding: 0px;
}
  
  /* Individual item */
.bm-item {
    width: max-content;
}
  
  /* Styling of overlay */
.bm-overlay {
    background-color: #326fad;
}


/*.nav-link {
    color: black;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px 2rem 10px 2rem;
}

.hide-nav-bar {
    margin-right: 30px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}*/
/*@media (max-width: 1024px){
    .container{
        padding-left:64px;
        padding-right:64px
    }
}
@media (max-width: 767px){
    .container{
        padding-left:32px;
        padding-right:32px
    }
}*/


.learning-path {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.topic {
    width: 150px;
    height: 60px;
    /*background-color: #3498db;*/
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: auto;
    margin-top: 7px;
}

.connector {
    width: 5px;
    height: 20px;
    margin: auto;
    background-color: #3498db;
}

.emptyconnector {
    width: 5px;
    height: 20px;
    margin: auto;
}

.Hconnector {
    width: 20px;
    height: 5px;
    margin: auto;
    background-color: #3498db;
}

.emptyHconnector {
    width: 20px;
    height: 5px;
    margin: auto;
}

.div-space {
    width: 179px;
}

#resistance {
    left: 200px;
}

.topic-border {
    width: 164px;
    height: 74px;
    margin: auto;
    border-radius: 12px;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f8d8d8, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f8d8d8, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.horizontal-div {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
}

.empty-border {
    width: 164px;
    height: 74px;
    margin: auto;
}

.empty-topic {
    width: 150px;
    height: 60px;
    margin: auto;
    margin-top: 7px;
}