.lesson-list {
    width: 20%;
    height: 620px;
    overflow-y: scroll;
    background-color: #ffffff;
    float: left;
}

.lessons-container {
    margin-top: 50px;
}
.content-lesson-title {
    font-size: 20px;
    padding-left: 30px
    
}
.lesson-title {
    padding: 10px;
    justify-content: center;
    display: grid;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.lesson-pagination{
    margin-top: 60px;
    text-align: center;
}
.center-div {
    display: flex;
    text-align: center;
    justify-content: center;
}

.current-page {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.grey-span {
    color: grey;
}

.special-navlink {
    text-decoration: none;
    color: #0077cc;
}

.lesson-title:hover {
    background-color: rgb(58, 184, 146); /* Change to your desired background color */
    color: white; /* Change to your desired text color */
}

.lesson-content {
    width: 70%;
    float: left;
    padding: 20px;
    font-weight: 500;
}

.lesson-text {
    font-size: 16px;
    font-weight: 100;
    font-family: sans-serif;
}

@media(max-width: 708px){
    .lesson-list {
        width: 20.5%;
    }
    .searchbar-select {
        display: none;
    }
    .lesson-title {
        padding: 5px;
        font-size: 15px;
    }
}

@media(max-width: 569px) {
    .lesson-title {
        padding: 1px;
        font-size: 12px;
    }
}