.lesson-list {
    background-color: #ffffff;
    display: table;
    
}

.element-header {
    text-align: center !important;
    font-size: 14px !important;
    width: max-content;
}

.element-header-title {
    width: 1000px;
}

.lessons-container {
    margin-top: 50px;
    display: grid;
    justify-content: center;
}

.lesson-table {
    display: table;
    width: 70% !important;
    border-collapse: collapse;
    background-color: #ffffff;
}

.lesson-table-header {
    display: table-row;
    background-color: #f0f0f0;
    font-weight: bold;
}

.lesson-table-header > div {
    display: table-cell;
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
}
.lesson-table-header > .lesson-author {
    width: 12%;
}
.lesson-table-header > .lesson-likes {
    width: 8%;
}
.lesson-table-header > .lesson-number {
    width: 2%;
}


.lesson-row {
    display: table-row;
}

.lesson-row > div {
    display: table-cell;
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
}

.selected {
    background-color: rgb(58, 184, 146);
    color: white;
}






.content-lesson-title {
    font-size: 20px;
    padding-left: 30px
    
}
.lesson-title {
    padding: 10px;
    justify-content: left;
    display: grid;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.lesson-pagination{
    margin-top: 60px;
    text-align: center;
}
.center-div {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.current-page {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.grey-span {
    color: grey;
}

.special-navlink {
    color: black;
}

.special-navlink:hover {
    background-color: rgb(58, 184, 146);
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.lesson-content {
    width: 70%;
    float: left;
    padding: 20px;
    font-weight: 500;
}

.lesson-text {
    font-size: 16px;
    font-weight: 100;
    font-family: sans-serif;
}

/*@media(max-width: 708px){
    .lesson-list {
        width: 20.5%;
    }
    .searchbar-select {
        display: none;
    }
    .lesson-title {
        padding: 5px;
        font-size: 15px;
    }
}

@media(max-width: 569px) {
    .lesson-title {
        padding: 1px;
        font-size: 12px;
    }
}*/