.lesson-detail-center {
    text-align: justify;
    margin: 100px;
}

.lesson-detail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.green-button {
    background-color: rgb(41, 203, 41) !important;
}