.add-container {
    display: block;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.flex {
    display: flex;
    margin: auto;
    width: 50%;
}
.add-result-container {
    margin-left: 0px;
    text-align: center;
    width: 1500px;
}

.input-form {
    background-color: white;
}
.add-space-left {
    margin-left: 20px;
}

.form-submit-space {
    margin-left: 30px;
    margin-top: 10px;
}

.form-submit-top {
    margin-top: 10px;
}
