.add-container {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.add-input-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .add-input-container {
        display: grid;
        flex-direction: column; 
        gap: 5px; 
    }
    .add-select {
        width: 100%;
    }
}

.add-input-form {
    width: 22% !important;
}
.add-select {
    width: 22% !important;
}

.add-form-submit {
    max-width: 200px;
}
/*
.add-result-container {
    margin-left: 0px;
    text-align: center;
    width: 1500px;
}

.input-form {
    background-color: white;
    resize: none;
}
.add-space-left {
    margin-left: 20px;
}

.form-submit-space {
    margin-left: 30px;
    margin-top: 10px;
}

.form-submit-top {
    margin-top: 10px;
}
*/