.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.add-toast-container {
  margin-top: 50px;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.lesson-text {
  text-align: center;
}